@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #E1BBC9;
    }
    img {
        overflow: hidden;
        width:100%;
    }
</style>

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome To The Airport MVC</h1>
    <p>The Airport for our Most Valued Customers</p>

    <img src="~/assets/planes.jpg" alt="Planes">
</div>
